body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: salmon;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h1, h2 {
  color: #fff;
}

p {
  color: #ecf0f1;
}
.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover; 
  border-radius: 50%;
}