body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8; /* Warna latar belakang */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #3498db; /* Warna biru */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h1 {
  color: #fff; /* Warna teks putih */
}

p {
  color: #ecf0f1; /* Warna teks putih lebih terang */
}